/* cinny */
/* dark theme */
.dark-theme,
.butter-theme {
    --bg-surface: var(--style-backg);
    --bg-surface-transparent: var(--style-backg);
    --bg-surface-low: var(--style-foreg);
    --bg-surface-low-transparent: var(--style-foreg);
    --bg-surface-extra-low: var(--style-foreg);
    --bg-surface-extra-low-transparent: var(--style-foreg);
    --bg-surface-hover: var(--hover);
    --bg-surface-active: var(--select);
    --bg-surface-border: var(--style-foreg);
    --bg-primary: rgb(189, 182, 236);
    --bg-primary-hover: rgba(189, 182, 236, .8);
    --bg-primary-active: rgba(189, 182, 236, 70%);
    --bg-primary-border: rgba(189, 182, 236, 38%);
    --bg-positive: rgb(133, 224, 186);
    --bg-positive-hover: rgba(133, 224, 186, 8%);
    --bg-positive-active: rgba(133, 224, 186, 15%);
    --bg-positive-border: rgba(133, 224, 186, 40%);
    --bg-caution: rgb(227, 186, 145);
    --bg-caution-hover: rgba(227, 186, 145, 8%);
    --bg-caution-active: rgba(227, 186, 145, 15%);
    --bg-caution-border: rgba(227, 186, 145, 40%);
    --bg-danger: rgb(230, 157, 157);
    --bg-danger-hover: rgba(230, 157, 157, 5%);
    --bg-danger-active: rgba(230, 157, 157, 10%);
    --bg-danger-border: rgba(230, 157, 157, 20%);
    --bg-tooltip: #000;
    --bg-badge: hsl(0, 0%, 75%);
    --bg-ping: hsla(137deg, 100%, 38%, 40%);
    --bg-ping-hover: hsla(137deg, 100%, 38%, 50%);
    --bg-divider: hsla(0, 0%, 100%, .1);
    --tc-surface-high: rgba(255, 255, 255, 98%);
    --tc-surface-normal: rgba(255, 255, 255, 94%);
    --tc-surface-normal-low: rgba(255, 255, 255, 60%);
    --tc-surface-low: rgba(255, 255, 255, 58%);
    --tc-primary-high: rgb(44, 40, 67);
    --tc-primary-normal: rgba(44, 40, 67, .68);
    --tc-primary-low: rgba(44, 40, 67, .4);
    --tc-positive-high: var(--bg-positive);
    --tc-positive-normal: rgb(133, 224, 186, 80%);
    --tc-positive-low: rgb(133, 224, 186, 60%);
    --tc-caution-high: var(--bg-caution);
    --tc-caution-normal: rgb(227, 186, 145, 80%);
    --tc-caution-low: rgb(227, 186, 145, 60%);
    --tc-danger-high: var(--bg-danger);
    --tc-danger-normal: rgba(230, 157, 157, 88%);
    --tc-danger-low: rgba(230, 157, 157, 60%);
    --tc-code: #e565b1;
    --tc-link: hsl(213deg 100% 80%);
    --tc-badge: black;
    --ic-surface-high: rgb(255, 255, 255);
    --ic-surface-normal: rgba(255, 255, 255, 84%);
    --ic-surface-low: rgba(255, 255, 255, 64%);
    --ic-primary-high: var(--tc-primary-high);
    --ic-primary-normal: var(--tc-primary-high);
    --ic-primary-low: var(--tc-primary-high);
    --ic-positive-high: rgba(133, 224, 186);
    --ic-positive-normal: rgba(133, 224, 186, 80%);
    --ic-caution-high: rgba(227, 186, 145);
    --ic-caution-normal: rgba(227, 186, 145, 80%);
    --ic-danger-high: rgba(230, 157, 157);
    --ic-danger-normal: rgba(230, 157, 157, .7);
    --mx-uc-1: var(--blue-light);
    --mx-uc-2: var(--pink-light);
    --mx-uc-3: var(--turquoise-light);
    --mx-uc-4: var(--red-light);
    --mx-uc-5: var(--orange-light);
    --mx-uc-6: var(--yellow-light);
    --mx-uc-7: var(--purple-light);
    --mx-uc-8: var(--green-light);
    --bg-overlay: rgba(0, 0, 0, 60%);
    --bg-overlay-low: rgba(0, 0, 0, 80%);
    --bs-popup: 0 0 16px rgba(0, 0, 0, 25%);
}
/* main view */
._15q3ngn1 {
    --oq6d070: var(--style-backg);
    --oq6d071: var(--hover);
    --oq6d072: var(--select);
    --oq6d073: var(--style-backg);
    --oq6d074: var(--style-text);
    --oq6d075: var(--style-backg);
    --oq6d076: var(--hover);
    --oq6d077: var(--select);
    --oq6d078: var(--style-light);
    --oq6d079: var(--style-text);
    --oq6d07a: var(--style-foreg);
    --oq6d07b: var(--hover);
    --oq6d07c: var(--select);
    --oq6d07d: var(--style-light);
    --oq6d07e: var(--style-text);
    --oq6d07f: var(--style-text);
    --oq6d07g: var(--style-text);
    --oq6d07h: var(--style-text);
    --oq6d07i: var(--purple-light);
    --oq6d07j: var(--style-backg);
    --oq6d07k: var(--style-dark);
    --oq6d07l: var(--style-dark);
    --oq6d07m: var(--style-dark);
    --oq6d07n: var(--style-backg);
    --oq6d07o: var(--style-text);
    --oq6d07p: var(--style-text);
    --oq6d07q: var(--style-text);
    --oq6d07r: var(--style-text);
    --oq6d07s: var(--style-text);
    --oq6d07t: var(--style-backg);
    --oq6d07u: var(--style-dark);
    --oq6d07v: var(--hover);
    --oq6d07w: var(--select);
    --oq6d07x: var(--select);
    --oq6d07y: var(--style-text);
    --oq6d07z: var(--green-light);
    --oq6d0710: var(--green-light);
    --oq6d0711: var(--green-light);
    --oq6d0712: var(--green-light);
    --oq6d0713: var(--style-backg);
    --oq6d0714: var(--green);
    --oq6d0715: var(--hover);
    --oq6d0716: var(--select);
    --oq6d0717: var(--style-backg);
    --oq6d0718: var(--style-text);
    --oq6d0719: var(--red-light);
    --oq6d071a: #DFAF7E;
    --oq6d071b: #DDA975;
    --oq6d071c: #DAA36C;
    --oq6d071d: #3F2A15;
    --oq6d071e: var(--red);
    --oq6d071f: #694624;
    --oq6d071g: #734D27;
    --oq6d071h: var(--red);
    --oq6d071i: var(--style-text);
    --oq6d071j: var(--style-text);
    --oq6d071k: var(--red-light);
    --oq6d071l: var(--red-light);
    --oq6d071m: var(--red-light);
    --oq6d071n: var(--style-backg);
    --oq6d071o: var(--red);
    --oq6d071p: var(--red);
    --oq6d071q: var(--red);
    --oq6d071r: var(--style-backg);
    --oq6d071s: var(--style-text);
    --oq6d071t: var(--style-blur);
    --oq6d071u: var(--style-black);
    --oq6d071v: var(--style-blur)
}
.oq6d071w {
    --oq6d070: #F2F2F2;
    --oq6d071: #E5E5E5;
    --oq6d072: #D9D9D9;
    --oq6d073: #CCCCCC;
    --oq6d074: #000000;
    --oq6d075: #FFFFFF;
    --oq6d076: #F2F2F2;
    --oq6d077: #E5E5E5;
    --oq6d078: #D9D9D9;
    --oq6d079: #000000;
    --oq6d07a: #F2F2F2;
    --oq6d07b: #E5E5E5;
    --oq6d07c: #D9D9D9;
    --oq6d07d: #CCCCCC;
    --oq6d07e: #000000;
    --oq6d07f: #1858D5;
    --oq6d07g: #164FC0;
    --oq6d07h: #144BB5;
    --oq6d07i: #1346AA;
    --oq6d07j: #FFFFFF;
    --oq6d07k: #E8EEFB;
    --oq6d07l: #DCE6F9;
    --oq6d07m: #D1DEF7;
    --oq6d07n: #C5D5F5;
    --oq6d07o: #113E95;
    --oq6d07p: #000000;
    --oq6d07q: var(--style-foreg);
    --oq6d07r: var(--style-backg);
    --oq6d07s: #333333;
    --oq6d07t: #FFFFFF;
    --oq6d07u: #D9D9D9;
    --oq6d07v: #CCCCCC;
    --oq6d07w: #BFBFBF;
    --oq6d07x: #B2B2B2;
    --oq6d07y: #0D0D0D;
    --oq6d07z: #00844C;
    --oq6d0710: #007744;
    --oq6d0711: #007041;
    --oq6d0712: #006A3D;
    --oq6d0713: #FFFFFF;
    --oq6d0714: #E5F3ED;
    --oq6d0715: #D9EDE4;
    --oq6d0716: #CCE6DB;
    --oq6d0717: #BFE0D2;
    --oq6d0718: #005C35;
    --oq6d0719: #A85400;
    --oq6d071a: #974C00;
    --oq6d071b: #8F4700;
    --oq6d071c: #864300;
    --oq6d071d: #FFFFFF;
    --oq6d071e: #F6EEE5;
    --oq6d071f: #F2E5D9;
    --oq6d071g: #EEDDCC;
    --oq6d071h: #E9D4BF;
    --oq6d071i: #763B00;
    --oq6d071j: #C40E0E;
    --oq6d071k: #AC0909;
    --oq6d071l: #A60C0C;
    --oq6d071m: #9C0B0B;
    --oq6d071n: #FFFFFF;
    --oq6d071o: #F9E7E7;
    --oq6d071p: #F6DBDB;
    --oq6d071q: #F3CFCF;
    --oq6d071r: #F0C3C3;
    --oq6d071s: #890A0A;
    --oq6d071t: rgba(0 0 0 / 50%);
    --oq6d071u: rgba(0 0 0 / 20%);
    --oq6d071v: rgba(0 0 0 / 50%)
}
