/* logseq export */

.content .pre-block { display: none; } /* hide page properties */

#main-container .page-title { pointer-events: none; } /* make title not editable */

.nav-header .whiteboard { display: none } /* disable whiteboards */
.nav-header .flashcards-nav { display: none; } /* disable flashcards */
.nav-header .graph-view-nav { display: none; } /* disable graphs */
/*.nav-header .journals-nav { display: none; } /* optionally hide journals */

#head div.r { display: none; } /* hide right side of header buttons */

.cp__all_pages table .selector { display: none; } /* hide selection checkbox on all pages */
.cp__all_pages table .backlinks { display: none; } /* hide more columns on all pages */
.cp__all_pages table .created-at { display: none; } /* hide more columns on all pages */
.cp__all_pages .actions .actions-wrap { display: none; } /* hide delete button on all pages */
.cp__all_pages .actions div.r { display: none; } /* hide more page modification options/things that don't work */
.cp__all_pages .actions .search-wrap { margin-left: 0; padding-left: 0; } /* fix search bar spacing */
.references.mt-6.flex-1.flex-row{display: none;} /* removes the unlinked dropdown at the botton of pages */

a.delete { display: none; } /* remove delete button on images */
.resize { resize:none; } /* disable resizing on images */

.graph-filters { display: none; } /* hide graph settings */

.nav-content-item.recent { display: none; } /* hide recent pages */

#custom-context-menu { display: none; } /* hide context menu */

.ls-block > div > div > a:not(.block-control) { pointer-events: none; } /* disable dragging of blocks */

.block-content.inline { white-space: revert; } /* remove superfluous spacing on block embeds in firefox */
