/* -- logseq -- */

@import url('file:///full/path/to/root.css');

/* -- correct color scheme problems arising from javascript -- */

html[data-theme=dark] {

  color-scheme: dark !important;

}

html[data-theme=light] {

  color-scheme: light !important;

}

/* -- dark none theme overrides -- */

html[data-theme=dark][data-color="none"] {

  --accent-color: none;

  --ls-primary-background-color: var(--style-backg);
  --ls-secondary-background-color: var(--style-foreg);
  --ls-tertiary-background-color: var(--style-foreg);
  --ls-quaternary-background-color: var(--style-dark);
  --ls-quinary-background-color: var(--style-backg);

  --ls-active-primary-color: var(--hover);
  --ls-active-secondary-color: var(--select);

  --ls-primary-text-color: var(--style-text);
  --ls-secondary-text-color: var(--style-text);

  --ls-search-background-color: var(--style-backg);
  --ls-border-color: var(--style-dark);
  --ls-secondary-border-color: var(--style-dark);
  --ls-menu-hover-color: var(--hover);
  --ls-table-tr-even-background-color: var(--style-foreg);

  --ls-head-text-color: var(--style-text);
  --ls-title-text-color: var(--style-text);

  --ls-link-text-color: var(--blue-light);
  --ls-link-text-hover-color: var(--style-text);

  --ls-link-ref-text-color: var(--blue-light);
  --ls-link-ref-text-hover-color: var(--style-text);
  --ls-block-ref-link-text-color: var(--blue-light);

  --ls-tag-text-color: var(--blue-light);
  --ls-tag-text-hover-color: var(--style-text);

  --ls-block-bullet-border-color: var(--style-dark);
  --ls-block-bullet-color: var(--style-text);
  --ls-block-highlight-color: var(--style-dark);
  --ls-block-properties-background-color: var(--style-dark);

  --ls-page-checkbox-color: var(--hidden);
  --ls-page-checkbox-border-color: var(--style-dark);

  --ls-page-blockquote-color: var(--style-light);
  --ls-page-blockquote-bg-color: var(--style-backg);
  --ls-page-blockquote-border-color: var(--style-light);

  --ls-page-inline-code-color: var(--style-text);
  --ls-page-inline-code-bg-color: var(--style-dark);

  --ls-scrollbar-background-color: var(--style-foreg);
  --ls-scrollbar-foreground-color: var(--style-dark);
  --ls-scrollbar-thumb-hover-color: var(--style-dark);

  --ls-icon-color: var(--style-text);
  --ls-search-icon-color: var(--style-text);
  --ls-a-chosen-bg: var(--style-black);
  --ls-right-sidebar-code-bg-color: var(--style-backg);
  --ls-selection-background-color: var(--select);
  --ls-slide-background-color: var(--style-backg);
  --ls-guideline-color: var(--style-dark);

  --color-yellow-500: var(--yellow);
  --ls-highlight-color-yellow: var(--yellow);
  --color-red-500: var(--red);
  --ls-highlight-color-red: var(--red);
  --color-pink-500: var(--pink);
  --ls-highlight-color-pink: var(--pink);
  --color-green-500: var(--green);
  --ls-highlight-color-green: var(--green);
  --color-blue-500: var(--blue);
  --ls-highlight-color-blue: var(--blue);
  --color-purple-500: var(--purple);
  --ls-highlight-color-purple: var(--purple);
  --color-gray-500: var(--rgbset);
  --ls-highlight-color-gray: var(--rgbset);

  --rx-gray-04: var(--style-dark);

  --ls-page-properties-background-color: var(--style-light);
  --ls-tertiary-border-color: var(--style-light);
  --ls-selection-text-color: var(--hover);

  --ls-page-mark-color: var(--style-backg);
  --ls-page-mark-bg-color: var(--yellow-light);
  --ls-cloze-text-color: var(--green-light);
  --ls-pie-bg-color: var(--style-backg);
  --ls-pie-fg-color: var(--style-foreg);
  --ls-error-text-color: var(--red-light);
  --ls-error-background-color: var(--red);
  --ls-warning-text-color: var(--orange-light);
  --ls-warning-background-color: var(--orange);
  --ls-success-text-color: var(--green-light);
  --ls-success-background-color: var(--green);

  --ls-focus-ring-color: var(--style-dark);
  --ls-header-button-background: var(--style-text);
  --ls-left-sidebar-text-color: var(--style-text);
  --ls-button-background-hsl: var(--hover);

  --color-level-4: var(--style-backg);
  --color-level-5: var(--style-foreg);
  --color-level-6: var(--style-dark);

}

html[data-theme=dark][data-color="none"].dark-theme .block-content tr:nth-child(2n),
html[data-theme=dark][data-color="none"].dark-theme .cp__all_pages-content tr:nth-child(2n),
html[data-theme=dark][data-color="none"].dark-theme .cp__shortcut-page tr:nth-child(2n) {

  background: var(--style-foreg);

}

html[data-theme=dark][data-color="none"].dark-theme .left-sidebar-resizer:hover,
html[data-theme=dark][data-color="none"].dark-theme .left-sidebar-resizer:active,
html[data-theme=dark][data-color="none"].dark-theme .resizer:hover,
html[data-theme=dark][data-color="none"].dark-theme .resizer:active {

  background-color: var(--style-dark) !important;

}

html[data-theme=dark][data-color="none"].dark-theme .left-sidebar-resizer:focus,
html[data-theme=dark][data-color="none"].dark-theme .resizer:focus {

  background-color: var(--style-light) !important;

}

/* -- color tweaks -- */

.bg-orange-400 {

  background-color: light-dark(var(--orange),var(--orange-light));

}

.bg-green-600 {

  background-color: light-dark(var(--green),var(--green-light));

}

.bg-red-500 {

  background-color: light-dark(var(--red),var(--red-light));

}

.external-link,
.external-link:hover {

  color: light-dark(var(--turquoise),var(--turquoise-light));

}

.text-inverted {

  color: light-dark(var(--style-text),var(--style-backg));

}

/* -- stlyed tags -- */

a.tag[data-ref="flags"] {

  color: light-dark(var(--purple),var(--purple-light));

}

a.tag[data-ref="tasks"] {

  color: light-dark(var(--green),var(--green-light));

}

a.tag[data-ref="critical"],
a.tag[data-ref="priority"],
a.tag[data-ref="major"] {

  color: light-dark(var(--red),var(--red-light));

}

a.tag[data-ref="concealed"],
a.tag[data-ref="slow"],
a.tag[data-ref="breaking"] {

  color: light-dark(var(--yellow),var(--yellow-light));

}

/* -- change image formatting -- */

.block-content .asset-container img {

  border-radius: var(--font-size);

}

.block-content .asset-container img {

  border: 1px solid light-dark(var(--ls-primary-text-color),var(--ls-primary-background-color));

}

.block-content .asset-container .asset-overlay {

  background-image: none;

}

.block-content .asset-container .asset-action-bar {

  background-color: var(--ls-secondary-background-color);
  border: none;
  border-top-left-radius: var(--font-size);
  border-top-right-radius: var(--font-size);

}

.resize {

  resize: none;

}

/* -- heading paddings -- */

.ls-block h2 {

  padding-top: var(--font-size);

}
