/* -- root settings -- */

:root {

  --right-sidebar-width: 350px;

}

/* -- export tweaks -- */

button[title="More"],
.content .pre-block,
.nav-header .whiteboard,
/*.nav-header .journals-nav,*/
.nav-header .flashcards-nav,
.nav-header .graph-view-nav,
#head div.l,
.cp__all_pages table .selector,
.cp__all_pages table .backlinks,
.cp__all_pages table .created-at,
.cp__all_pages .actions .actions-wrap,
.cp__all_pages .actions div.l,
.references.mt-6.flex-1.flex-row,
a.delete,
.graph-filters,
.nav-content-item.recent,
.nav-content-item.favorites,
#custom-context-menu {

  display: none !important;

}

.cp__all_pages .actions .search-wrap {

  margin-left: 0;
  padding-left: 0;

}

.asset-container {

  pointer-events: none !important;

}

.resize {

  resize: none;

}

.block-content.inline {

  white-space: revert;

}

.cp__right-sidebar,
.h-screen,
.open {

  width: var(--right-sidebar-width) !important;

}
